@use "../configs/colors";
@use "../utils/input-error";

.sign-up {
    display: flex;
    flex-direction: column;
    gap: 0.9em;

    .terms {
        padding: 0 1.3em;
        font-size: 0.7em;
        line-height: 1.8;
        color: colors.$neutral-grayish-blue;

        a {
            font-weight: 700;
            color: colors.$primary-red;
        }
    }

    &__input-section {
        display: flex;
        flex-direction: column;
        &.error {
            &::after {
                content: attr(data-error);
                font-family: inherit;
                font-size: x-small;
                font-weight: 600;
                font-style: italic;
                text-align: right;
                color: colors.$primary-red;
                margin-top: 0.7em;
            }
        }
    }
}