@use "../configs/colors";
@use "../utils/input-error";

.text-input-container {
    position: relative;
    display: flex;
    align-items: center;
    border-style: solid;
    border-radius: 0.4em;
    border-width: 1px;
    border-color: rgb(226, 226, 226);

    input {
        padding: 1.4em;
        border-radius: inherit;
    }

    .error-icon {
        position: relative;
        right: 1.4em;
        display: none;
    }

    .error & {
        @include input-error.style(colors.$primary-red);
    }

    
}