@use "../configs/colors";
@use "../configs/fonts";

input {

    &[type=text]{
        border-style: solid;
        border-radius: 0.4em;
        border-width: 1px;
        border-color: rgb(226, 226, 226);
        outline: none;
        padding: 1.4em;
        width:100%;
        font-size: 0.875em;
        font-weight: 600;

        &::placeholder{
            font-family: map-get(fonts.$families, main);
        }
    }

    &[type=submit]{
        border-style: none;
        border-radius: 0.4em;
        background-color: colors.$primary-green;
        padding: 1.2em;
        color: white;
        text-transform: uppercase;
        width: 100%;
        font-size: 1em;
        font-weight: 500;
        cursor: pointer;
    }
}