@use "../configs/colors";
@use "../configs/images";
@use "../utils/screen";

body {
    height: 100vh;
    display: grid;
    grid-template-rows: 1fr max-content;
    background-image: map-get(images.$background, main-mobile);
    background-color: colors.$primary-red;
}