@use '../configs/colors';
@use '../utils/screen';
@use '../utils/tile';

.intro-component {
    width: 100%;
    padding: 3.5em 1.5em;
    display: grid;
    row-gap: 3.5em;
    grid-template-columns: minmax(min-content, 40em);
    justify-content: center;
    text-align: center;

    h1 {
        margin: 1em;
    }

    &__content {
        padding: 0.5em;
    }

    &__form {
        display: flex;
        flex-direction: column;
        gap: 1.5em;

        .tile-info {
            @include tile.style(colors.$accent-blue);
            padding-left: 3.1em;
            padding-right: 3.1em;
        }

        .tile-form {
            @include tile.style(white);
        }
    }

    @include screen.respond-to("desktop") {
        max-width: 90em;
        padding-left: 9em;
        padding-right: 9em;
        grid-template-rows: 100%;
        grid-template-columns: 1fr 1fr;
        column-gap: 1em;

        h1 {
            margin-left: unset;
            margin-right: unset;
            font-size: 3em;
            margin: 0.5em 0;
        }

        &__content {
            display: flex;
            align-items: center;
            text-align: left;
        }

        .sign-up {
            padding: 1.3em;
        }

        .text-input-container {
            input {
                padding-left: 2em;
                padding-right: 2em;
            }
        }
    }
}